:root {
  --dark-blue: #282a36;
  --mid-blue: #44475a;
  --light-blue: #6272a4;
  --light-grey: #f8f8f2;
  --accent-orange: #ff8000;
  --accent-yellow: #ffd700;
  --accent-crimson: #dc143c;
  --accent-lime: #32cd32;
  --shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  --font-size-input: 1em;
}

body, html {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--dark-blue);
  color: var(--light-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo {
  width: 200px;
  height: auto;
}

.you {
  color: var(--accent-lime);
  text-align: right;
}

.bot {
  color: var(--light-grey);
}

.chat-section {
  position: relative;
  width: 80vw;
  height: calc(100vh - 250px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* Added display flex and justify content space between */
.engine-button-container {
  display: flex;
  gap: 5px; /* Adjust this value as necessary for your desired space between buttons */
  padding-bottom: 5px; /* Keeps space between buttons and chat container */
}

#chat-container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 50px);
  overflow: auto;
  width: 100%;
  background-color: var(--mid-blue);
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: var(--shadow);
}

#chat-container p {
  font-size: 1.2em;
}

/* Added padding-top 5px */
#message-form {
  display: flex;
  width: 80vw;
  padding-top: 5px;
}

#message-input {
  flex-grow: 1;
  border-radius: 8px;
  padding: 10px;
  margin-right: 10px;
  border: none;
  outline: none;
  font-size: var(--font-size-input);
}

#message-form button {
  background-color: var(--accent-lime);
  color: var(--light-grey);
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: var(--font-size-input);
  transition: background-color 0.3s ease;
}

#message-form button:hover {
  background-color: var(--light-blue);
}

.engine-button {
  width: auto;
  height: 30px;
  background-color: var(--mid-blue);
  color: var(--light-grey);
  border: none;
  border-radius: 8px;
  padding: 5px 15px;
  cursor: pointer;
  font-size: var(--font-size-input);
  transition: background-color 0.3s ease;
  text-align: center;
}

.engine-button:hover {
  background-color: var(--accent-lime);
}

.dynamic-button {
  width: auto;
  height: 30px;
  background-color: var(--accent-crimson);
  color: var(--light-grey);
  border: none;
  border-radius: 8px;
  padding: 10px 15px 10px;
  cursor: pointer;
  font-size: var(--font-size-input);
  transition: background-color 0.3s ease;
  margin: 5px;
  line-height: -30px;
}

.dynamic-button:hover {
  background-color: var(--accent-lime);
}

/* Your row of buttons */
#button-row {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#chat-container div {
  margin-bottom: 0.5em;
}

pre {
  background-color: #1e1e1e;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

.copy-button {
  display: inline-block;
  margin-left: 10px;
  background-color: #bd93f9;
  color: #f8f8f2;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 0.8em;
}

.copy-button:hover {
  background-color: #44475a;
}

.engine-button.active {
  background-color: var(--accent-lime);
}

footer {
  background-color: #fff;
  padding: 5px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30rem;
}

.footer-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.footer-icons a:hover {
  transform: scale(1.2);
}

.footer-icons img {
  max-width: 100px;
  height: auto;
}

.dropdown {
  position: relative;
  display: inline-block;
  align: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: var(--mid-blue);
  color: var(--light-grey);
  border-radius: 8px;
  padding: 10px 0;
}

.dropdown-content a {
  color: var(--light-grey);
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #007bff}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* Media queries */

@media screen and (max-width: 768px) {
  footer {
    background-color: transparent;
  }

  .footer-icons a {
    background-color: #fff;
    border-radius: 10%;
    padding: 2px;
  }

  .chat-section {
    height: calc(100vh - 200px);
  }

  #chat-container {
    height: calc(100% - 50px);
  }

  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  #message-form {
    width: 100%;
  }

  .logo {
    width: 125px;
  }

  .engine-button {
    width: auto;
    height: 25px;
    padding: 3px 8px;
    font-size: 0.8em;
  }

  .footer-icons {
    max-width: 50px;
    height: auto;
    gap: rem; /* Adjust gap for horizontal layout */
  }
}

@media only screen and (max-width: 600px) {
  footer {
    background-color: transparent;
  }

  .footer-icons a {
    background-color: #fff;
    border-radius: 10%;
    padding: 2px;
  }

  .chat-section {
    width: 95vw;
    height: calc(100vh - 275px);
  }
  
  #chat-container {
    height: calc(100% - 40px);
  }

  #message-form {
    width: 95vw;
  }

  #message-input {
    font-size: 0.8em;
  }

  #message-form button {
    font-size: 0.8em;
  }
  
  .logo {
    width: 125px;
  }

  #chat-container p {
    font-size: 1.2em;
  }

  .footer-icons {
    max-width: 25px;
    height: auto;
    gap: 2rem; /* Adjust gap for horizontal layout */
  }
}
